@model IEnumerable<buildacomputer.Models.Build>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.motherboard.motherboard_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.processor.processor_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.memory.memory_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hard_drives.hard_drive_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sound_cards.sound_card_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video_adapters.video_adapter_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.optical_drives.optical_drive_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.power_supplies.power_supply_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.computer_cases.computer_case_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buildType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iterator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildTime)
        </th>
        <th></th>
    </tr>

        @foreach (var item in Model)
    {
            <tr>
                <td>
                    @Html.DisplayFor(model => model.motherboard.motherboard_name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.processor.processor_name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.memory.memory_name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.hard_drives.hard_drive_name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.sound_cards.sound_card_name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.video_adapters.video_adapter_name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.optical_drives.optical_drive_name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.power_supplies.power_supply_name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.computer_cases.computer_case_name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.buildType)
                </td>
                <td>
                    @Html.DisplayFor(model => model.iterator)
                </td>
                <td>
                    @Html.DisplayFor(model => model.BuildTime)
                </td>
                <td></td>
                @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.buildID }) |
                        @Html.ActionLink("Details", "Details", new { id=item.buildID }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.buildID })
                    </td>*@
            </tr>
    }

</table>

@*@using System.Collections.Generic;


<body>
    <h3 class="font-styling">Recently Built Computers</h3>
    <div>
        <table class="table">
            <tr>
                @foreach (string key in Model.Keys)
                {
                    <th><a href="#">@key</a></th>
                }
            </tr>
            @for (int i = 0; i < Model["Motherboard"].Count; i++)
            {
                <tr>
                    @foreach (string key in Model.Keys)
                    {
                        <td>@Model[key][i]</td>
                    }
                </tr>
            }
        </table>
    </div>

    <div class="jumbotron">
        <h1></h1>
        <p class="lead"></p>
    </div>
    <div class="jumbotron">
        <h1></h1>
        <p class="lead"></p>
    </div>

</body>*@

