@using System.Collections.Generic;

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".body-splash").click(function () {
            $("p").animate({ bottom: "+=100px" });
        });
    });
</script>

<body class="body-splash">

    <div class="row">
        <img class="img-case" src="@Url.Content("~/Content/Images/case.png")" />
        <img class="img-harddrive" src="@Url.Content("~/Content/Images/harddrive.png")" />
        <img class="img-memory" src="@Url.Content("~/Content/Images/memory.png")" />
        <img class="img-motherboard" src="@Url.Content("~/Content/Images/motherboard.png")" />
        <img class="img-optical" src="@Url.Content("~/Content/Images/optical.png")" />
        <img class="img-power" src="@Url.Content("~/Content/Images/power.png")" />
        <img class="img-processor" src="@Url.Content("~/Content/Images/processor.png")" />
        <img class="img-soundcard" src="@Url.Content("~/Content/Images/soundcard.png")" />
        <img class="img-video" src="@Url.Content("~/Content/Images/video.png")" />
        <img class="img-computer" src="@Url.Content("~/Content/Images/computer.png")" />

        <div class="col-md-4">
               
        </div>
        <div class="col-md-4">
            <h3 class="font-styling">Recently Built Computers</h3>
            @*<ul>
                    <li><a href="#">First most recent</a></li>
                    <li><a href="#">Second most recent</a></li>
                    <li><a href="#">Third most recent</a></li>
                    <li><a href="#">Fourth most recent</a></li>
                    <li><a href="#">Fifth most recent</a></li>
                </ul>*@

            <table class="table">
                <tr>
                    @foreach (string key in Model.Keys)
                    {
                        <th><a href="#">@key</a></th>
                    }
                </tr>
                @for (int i = 0; i < 5; i++)
                {
                    <tr>
                        @foreach (string key in Model.Keys)
                        {
                            <td>@Model[key][i]</td>
                        }
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-4">
            <h2></h2>
        </div>
    </div>
    <div class="jumbotron">
        <h1></h1>
        <p class="lead"></p>
    </div>
</body>
