@using System.Collections.Generic
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/ico" href="favicon.ico">

    <title>ViewBag.Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $(".button-motherboards").click(function () {
                $(".tr-motherboards-hidden").toggle()
            });
        });

        $(document).ready(function () {
            $(".button-processors").click(function () {
                $(".tr-processors-hidden").toggle()
            });
        });

        $(document).ready(function () {
            $(".button-memories").click(function () {
                $(".tr-memories-hidden").toggle()
            });
        });

        $(document).ready(function () {
            $(".button-harddrives").click(function () {
                $(".tr-harddrives-hidden").toggle()
            });
        });

        $(document).ready(function () {
            $(".button-soundcards").click(function () {
                $(".tr-soundcards-hidden").toggle()
            });
        });

        $(document).ready(function () {
            $(".button-videoadapters").click(function () {
                $(".tr-videoadapters-hidden").toggle()
            });
        });

        $(document).ready(function () {
            $(".button-opticaldrives").click(function () {
                $(".tr-opticaldrives-hidden").toggle()
            });
        });

        $(document).ready(function () {
            $(".button-powersupplies").click(function () {
                $(".tr-powersupplies-hidden").toggle()
            });
        });

        $(document).ready(function () {
            $(".button-computercases").click(function () {
                $(".tr-computercases-hidden").toggle()
            });
        });
    </script>

</head>

<body>

    <div>
       @{ Html.RenderPartial("Lists"); }
    </div>

            @*@Html.ActionLink("Save", "Save")*@

        </body>


    </html>
    <script type="text/javascript">

    function doajaxmb(link) {

        $.ajax({
            type: "GET",
            url: '@Url.Action("Index", "Builds")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ obj: "mb", id_number: $(link).val() }),
            dataType: "json",
            success: function (data) {
                // data is ur summary
                $('#summary').html(data);
            }
        });
    }

    function doajaxpr(link) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Builds")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ obj: "pr", id_number: $(link).val() }),
            dataType: "json"
        });
    }

    function doajaxme(link) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Builds")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ obj: "me", id_number: $(link).val() }),
            dataType: "json"
        });
    }

    function doajaxhd(link) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Builds")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ obj: "hd", id_number: $(link).val() }),
            dataType: "json"
        });
    }

    function doajaxsc(link) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Builds")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ obj: "sc", id_number: $(link).val() }),
            dataType: "json"
        });
    }

    function doajaxps(link) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Builds")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ obj: "ps", id_number: $(link).val() }),
            dataType: "json"
        });
    }

    function doajaxva(link) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Builds")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ obj: "va", id_number: $(link).val() }),
            dataType: "json"
        });
    }

    function doajaxod(link) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Builds")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ obj: "od", id_number: $(link).val() }),
            dataType: "json"
        });
    }

    function doajaxps(link) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Builds")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ obj: "ps", id_number: $(link).val() }),
            dataType: "json"
        });
    }

    function doajaxcc(link) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Builds")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ obj: "cc", id_number: $(link).val() }),
                dataType: "json"
            });
        }

        function doajaxxmb(link) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("Index", "Builds")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ obj: "xmb", id_number: $(link).val() }),
                dataType: "json"
            });
        }

        function doajaxxpr(link) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("Index", "Builds")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ obj: "xpr", id_number: $(link).val() }),
                dataType: "json"
            });
        }

        function doajaxxme(link) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("Index", "Builds")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ obj: "xme", id_number: $(link).val() }),
                dataType: "json"
            });
        }

        function doajaxxhd(link) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("Index", "Builds")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ obj: "xhd", id_number: $(link).val() }),
                dataType: "json"
            });
        }

        function doajaxxsc(link) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("Index", "Builds")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ obj: "xsc", id_number: $(link).val() }),
                dataType: "json"
            });
        }

        function doajaxxps(link) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("Index", "Builds")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ obj: "xps", id_number: $(link).val() }),
                dataType: "json"
            });
        }

        function doajaxxva(link) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("Index", "Builds")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ obj: "xva", id_number: $(link).val() }),
                dataType: "json"
            });
        }

        function doajaxxod(link) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("Index", "Builds")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ obj: "xod", id_number: $(link).val() }),
                dataType: "json"
            });
        }

        function doajaxxps(link) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("Index", "Builds")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ obj: "xps", id_number: $(link).val() }),
                dataType: "json"
            });
        }

        function doajaxxcc(link) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("Index", "Builds")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ obj: "xcc", id_number: $(link).val() }),
                dataType: "json"
            });
        }
    </script>