@using System.Collections.Generic
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/ico" href="favicon.ico">

    <title>ViewBag.Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
                        
            $(".button-motherboards").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videoadapters-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").show()
                $(".button-motherboards").css('background-color', 'inherit')
                $(".button-processors").css('background-color', 'white')
                $(".button-memories").css('background-color', 'white')
                $(".button-harddrives").css('background-color', 'white')
                $(".button-soundcards").css('background-color', 'white')
                $(".button-videoadapters").css('background-color', 'white')
                $(".button-opticaldrives").css('background-color', 'white')
                $(".button-powersupplies").css('background-color', 'white')
                $(".button-computercases").css('background-color', 'white')
                $(".button-motherboards").css('color', 'white')
                $(".button-processors").css('color', 'black')
                $(".button-memories").css('color', 'black')
                $(".button-harddrives").css('color', 'black')
                $(".button-soundcards").css('color', 'black')
                $(".button-videoadapters").css('color', 'black')
                $(".button-opticaldrives").css('color', 'black')
                $(".button-powersupplies").css('color', 'black')
                $(".button-computercases").css('color', 'black')
        });

            $(".button-processors").click(function () {
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videoadapters-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-processors-hidden").show()
                $(".button-motherboards").css('background-color', 'white')
                $(".button-processors").css('background-color', 'inherit')
                $(".button-memories").css('background-color', 'white')
                $(".button-harddrives").css('background-color', 'white')
                $(".button-soundcards").css('background-color', 'white')
                $(".button-videoadapters").css('background-color', 'white')
                $(".button-opticaldrives").css('background-color', 'white')
                $(".button-powersupplies").css('background-color', 'white')
                $(".button-computercases").css('background-color', 'white')
                $(".button-motherboards").css('background-color', 'white')
                $(".button-motherboards").css('color', 'black')
                $(".button-processors").css('color', 'white')
                $(".button-memories").css('color', 'black')
                $(".button-harddrives").css('color', 'black')
                $(".button-soundcards").css('color', 'black')
                $(".button-videoadapters").css('color', 'black')
                $(".button-opticaldrives").css('color', 'black')
                $(".button-powersupplies").css('color', 'black')
                $(".button-computercases").css('color', 'black')
            });

            $(".button-memories").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videoadapters-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-memories-hidden").show()
                $(".button-motherboards").css('background-color', 'white');
                $(".button-processors").css('background-color', 'white');
                $(".button-memories").css('background-color', 'inherit');
                $(".button-harddrives").css('background-color', 'white');
                $(".button-soundcards").css('background-color', 'white');
                $(".button-videoadapters").css('background-color', 'white');
                $(".button-opticaldrives").css('background-color', 'white');
                $(".button-powersupplies").css('background-color', 'white');
                $(".button-computercases").css('background-color', 'white');
                $(".button-motherboards").css('color', 'black')
                $(".button-processors").css('color', 'black')
                $(".button-memories").css('color', 'white')
                $(".button-harddrives").css('color', 'black')
                $(".button-soundcards").css('color', 'black')
                $(".button-videoadapters").css('color', 'black')
                $(".button-opticaldrives").css('color', 'black')
                $(".button-powersupplies").css('color', 'black')
                $(".button-computercases").css('color', 'black')
            });

            $(".button-harddrives").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videoadapters-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-harddrives-hidden").show()
                $(".button-motherboards").css('background-color', 'white');
                $(".button-processors").css('background-color', 'white');
                $(".button-memories").css('background-color', 'white');
                $(".button-harddrives").css('background-color', 'inherit');
                $(".button-soundcards").css('background-color', 'white');
                $(".button-videoadapters").css('background-color', 'white');
                $(".button-opticaldrives").css('background-color', 'white');
                $(".button-powersupplies").css('background-color', 'white');
                $(".button-computercases").css('background-color', 'white');
                $(".button-motherboards").css('color', 'black')
                $(".button-processors").css('color', 'black')
                $(".button-memories").css('color', 'black')
                $(".button-harddrives").css('color', 'white')
                $(".button-soundcards").css('color', 'black')
                $(".button-videoadapters").css('color', 'black')
                $(".button-opticaldrives").css('color', 'black')
                $(".button-powersupplies").css('color', 'black')
                $(".button-computercases").css('color', 'black')
            });

            $(".button-soundcards").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-videoadapters-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-soundcards-hidden").show()
                $(".button-motherboards").css('background-color', 'white');
                $(".button-processors").css('background-color', 'white');
                $(".button-memories").css('background-color', 'white');
                $(".button-harddrives").css('background-color', 'white');
                $(".button-soundcards").css('background-color', 'inherit');
                $(".button-videoadapters").css('background-color', 'white');
                $(".button-opticaldrives").css('background-color', 'white');
                $(".button-powersupplies").css('background-color', 'white');
                $(".button-computercases").css('background-color', 'white');
                $(".button-motherboards").css('color', 'black')
                $(".button-processors").css('color', 'black')
                $(".button-memories").css('color', 'black')
                $(".button-harddrives").css('color', 'black')
                $(".button-soundcards").css('color', 'white')
                $(".button-videoadapters").css('color', 'black')
                $(".button-opticaldrives").css('color', 'black')
                $(".button-powersupplies").css('color', 'black')
                $(".button-computercases").css('color', 'black')
            });

            $(".button-videoadapters").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-videoadapters-hidden").show()
                $(".button-motherboards").css('background-color', 'white');
                $(".button-processors").css('background-color', 'white');
                $(".button-memories").css('background-color', 'white');
                $(".button-harddrives").css('background-color', 'white');
                $(".button-soundcards").css('background-color', 'white');
                $(".button-videoadapters").css('background-color', 'inherit');
                $(".button-opticaldrives").css('background-color', 'white');
                $(".button-powersupplies").css('background-color', 'white');
                $(".button-computercases").css('background-color', 'white');
                $(".button-motherboards").css('color', 'black')
                $(".button-processors").css('color', 'black')
                $(".button-memories").css('color', 'black')
                $(".button-harddrives").css('color', 'black')
                $(".button-soundcards").css('color', 'black')
                $(".button-videoadapters").css('color', 'white')
                $(".button-opticaldrives").css('color', 'black')
                $(".button-powersupplies").css('color', 'black')
                $(".button-computercases").css('color', 'black')
            });

            $(".button-opticaldrives").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videoadapters-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-opticaldrives-hidden").show()
                $(".button-motherboards").css('background-color', 'white');
                $(".button-processors").css('background-color', 'white');
                $(".button-memories").css('background-color', 'white');
                $(".button-harddrives").css('background-color', 'white');
                $(".button-soundcards").css('background-color', 'white');
                $(".button-videoadapters").css('background-color', 'white');
                $(".button-opticaldrives").css('background-color', 'inherit');
                $(".button-powersupplies").css('background-color', 'white');
                $(".button-computercases").css('background-color', 'white');
                $(".button-motherboards").css('color', 'black')
                $(".button-processors").css('color', 'black')
                $(".button-memories").css('color', 'black')
                $(".button-harddrives").css('color', 'black')
                $(".button-soundcards").css('color', 'black')
                $(".button-videoadapters").css('color', 'black')
                $(".button-opticaldrives").css('color', 'white')
                $(".button-powersupplies").css('color', 'black')
                $(".button-computercases").css('color', 'black')
            });

            $(".button-powersupplies").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videoadapters-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-powersupplies-hidden").show()
                $(".button-motherboards").css('background-color', 'white');
                $(".button-processors").css('background-color', 'white');
                $(".button-memories").css('background-color', 'white');
                $(".button-harddrives").css('background-color', 'white');
                $(".button-soundcards").css('background-color', 'white');
                $(".button-videoadapters").css('background-color', 'white');
                $(".button-opticaldrives").css('background-color', 'white');
                $(".button-powersupplies").css('background-color', 'inherit');
                $(".button-computercases").css('background-color', 'white');
                $(".button-motherboards").css('color', 'black')
                $(".button-processors").css('color', 'black')
                $(".button-memories").css('color', 'black')
                $(".button-harddrives").css('color', 'black')
                $(".button-soundcards").css('color', 'black')
                $(".button-videoadapters").css('color', 'black')
                $(".button-opticaldrives").css('color', 'black')
                $(".button-powersupplies").css('color', 'white')
                $(".button-computercases").css('color', 'black')
            });

            $(".button-computercases").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videoadapters-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-computercases-hidden").show()
                $(".button-motherboards").css('background-color', 'white');
                $(".button-processors").css('background-color', 'white');
                $(".button-memories").css('background-color', 'white');
                $(".button-harddrives").css('background-color', 'white');
                $(".button-soundcards").css('background-color', 'white');
                $(".button-videoadapters").css('background-color', 'white');
                $(".button-opticaldrives").css('background-color', 'white');
                $(".button-powersupplies").css('background-color', 'white');
                $(".button-computercases").css('background-color', 'inherit');
                $(".button-motherboards").css('color', 'black')
                $(".button-processors").css('color', 'black')
                $(".button-memories").css('color', 'black')
                $(".button-harddrives").css('color', 'black')
                $(".button-soundcards").css('color', 'black')
                $(".button-videoadapters").css('color', 'black')
                $(".button-opticaldrives").css('color', 'black')
                $(".button-powersupplies").css('color', 'black')
                $(".button-computercases").css('color', 'white') 
            });
        });


    $(document).ready(function () {
        $(".img-case").click(function () {
            $(".img-harddrive").animate({ left: "+=300px" });
            $(".img-memory").animate({ left: "+=300px" });
            $(".img-motherboard").animate({ left: "+=300px" });
            $(".img-optical").animate({ left: "+=300px" });
            $(".img-power").animate({ left: "+=300px" });
            $(".img-sound").animate({ left: "+=300px" });
            $(".img-video").animate({ left: "+=300px" });
            $(".img-processor").animate({ left: "+=300px" });
            $(".img-case").animate({ right: "+=200px" }, function () {
                $(".img-case").fadeOut("fast");
                $(".img-harddrive").fadeOut("fast");
                $(".img-memory").fadeOut("fast");
                $(".img-motherboard").fadeOut("fast");
                $(".img-optical").fadeOut("fast");
                $(".img-power").fadeOut("fast");
                $(".img-sound").fadeOut("fast");
                $(".img-video").fadeOut("fast");
                $(".img-processor").fadeOut("fast");
                $(".img-3").fadeIn("fast", function () {
                    $(".img-3").fadeOut("slow", function () {
                        $(".img-computer").fadeIn("fast");
                    });
                });
                
            });

        });

    });

        </script>


</head>

<body>

    <div id="Lists">
        @{ Html.RenderPartial("Lists"); }
    </div>


    <div class="the-images" style="text-align:left">
        <p><img class="img-case" src="@Url.Content("~/Content/Images/case.png")" style="display:none" /></p>
        <p></p>
        <p><img class="img-harddrive" src="@Url.Content("~/Content/Images/harddrive.png")" style="display:none" /></p>
        <p></p>
        <img class="img-memory" src="@Url.Content("~/Content/Images/memory.png")" style="display:none" />
        <p></p>
        <img class="img-motherboard" src="@Url.Content("~/Content/Images/motherboard.png")" style="display:none" />
        <img class="img-optical" src="@Url.Content("~/Content/Images/optical.png")" style="display:none" />
        <img class="img-power" src="@Url.Content("~/Content/Images/power.png")" style="display:none" />
        <img class="img-processor" src="@Url.Content("~/Content/Images/processor.png")" style="display:none" />
        <img class="img-sound" src="@Url.Content("~/Content/Images/soundcard.png")" style="display:none" />
        <img class="img-video" src="@Url.Content("~/Content/Images/video.png")" style="display:none" />

        <img class="img-3" src="@Url.Content("~/Content/Images/3.png")" style="text-align: center; display: none" />
        <img class="img-computer" src="@Url.Content("~/Content/Images/computer.png")" style="text-align: center; display: none" />
    </div>

    @Html.ActionLink("Save", "Save")



</body>
</html>
<script type="text/javascript">

    $(".doajaxmb").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=mb&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxpr").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=pr&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxme").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=me&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxhd").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=hd&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxsc").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=sc&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxva").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=va&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxod").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=od&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxps").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=ps&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxcc").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=cc&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxmb").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=xmb&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxpr").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=xpr&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxme").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=xme&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxhd").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=xhd&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxsc").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=xsc&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });


    $(".doajaxxva").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=xva&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxod").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=xod&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxps").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=xps&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxcc").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=xcc&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });
</script>