@using System.Collections.Generic
<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/ico" href="favicon.ico">

    <title>ViewBag.Title</title>
</head>

<body>
    <article>
        <ul>
            <li>
                MOTHERBOARDS
                <table class="table">
                    <tr>
                        <td>
                            Name
                        </td>
                        <td>
                            Processor Socket
                        </td>
                        <td>
                            RAM type
                        </td>
                        <td>
                            Form Factor
                        </td>
                        <td>
                            Integrated Gpu
                        </td>
                        <td>
                            Power Supply Standard
                        </td>
                        <td>
                            Lan Chip
                        </td>
                        <td>
                            Sound Chip
                        </td>
                    </tr>
                    @foreach (var x in ViewBag.mb)
                    {
                        <tr>
                            <td>
                                @x.motherboard_name
                            </td>
                            <td>
                                @x.processor_sockets.processor_socket_name
                            </td>
                            <td>
                                @x.memory_types.memory_type_name
                            </td>
                            <td>
                                @x.motherboard_form_factors.motherboard_form_factor_name
                            </td>
                            <td>
                                @if (x.gpu_id != null)
                                {
                                    @x.gpus.gpu_name
                                }
                            </td>
                            <td>
                                @x.power_supply_standards.power_supply_standard_name
                            </td>
                            <td>
                                @x.lan_chips.lan_chip_name
                            </td>
                            <td>
                                @x.sound_chips.sound_chip_name
                            </td>
                            <td>
                                <button name="" type="button" value=@x.motherboard_id onclick="doajaxmb(this)">Add to Cart!</button>
                            </td>
                        </tr>
                    }
                </table>
            </li>
            <li>
                <a href="#tabs-nobg-2">Processors</a>
                <table>
                    @foreach (var x in ViewBag.pr)
                    {
                        <tr>
                            <td>
                                @x.processor_name
                            </td>
                            <td>
                                @x.processor_sockets.processor_socket_name
                            </td>
                            <td>
                                @x.frequency_mhz
                            </td>
                            <td>
                                @x.processor_cores.processor_core_count
                            </td>
                            <td>
                                <button name="" type="button" value=@x.processor_id onclick="doajaxpr(this)">Add to Cart!</button>
                            </td>
                        </tr>
                    }
                </table>
            </li>
            <li>
                <a href="#tabs-nobg-3">RAM</a>
                <table class="memories-table">
                    @foreach (var x in ViewBag.me)
                    {
                        <tr>
                            <td>
                                @x.memory_name
                            </td>
                            <td>
                                @x.memory_size_mb
                            </td>
                            <td>
                                @x.memory_types.memory_type_name
                            </td>
                            <td>
                                <button name="" type="button" value=@x.memory_id onclick="doajaxme(this)">Add to Cart!</button>
                            </td>
                        </tr>
                    }
                </table>
            </li>
            <li>
                <a href="#tabs-nobg-4">Hard Drives</a>
                <table class="hard-drives-table">
                    @foreach (var x in ViewBag.hd)
                    {
                        <tr>
                            <td>
                                @x.hard_drive_name
                            </td>
                            <td>
                                @x.buffer_kb
                            </td>
                            <td>
                                @x.capacity_gb
                            </td>
                            <td>
                                @x.bus_interfaces.bus_interface_name
                            </td>
                            <td>
                                <button name="" type="button" value=@x.hard_drive_id id="hd" onclick="doajaxhd()">Add to Cart!</button>
                            </td>
                        </tr>
                    }
                </table>
            </li>
            <li>
                <a href="#tabs-nobg-5">Sound Cards</a>
                <table class="sound-cards-table">
                    @foreach (var x in ViewBag.sc)
                    {
                        <tr>
                            <td>
                                @x.sound_card_name
                            </td>
                            <td>
                                @x.sound_chips.sound_chip_name
                            </td>
                            <td>
                                @x.sound_chips.sound_channel_standards.sound_channel_standard_name
                            </td>
                            <td>
                                @x.expansion_slots.expansion_slot_name
                            </td>
                            <td>
                                <button name="" type="button" value=@x.sound_card_id onclick="doajaxsc(this)">Add to Cart!</button>
                            </td>
                        </tr>
                    }
                </table>
            </li>
            <li>
                <a href="#tabs-nobg-6">Video Adapters</a>
                <table class="video-adapters-table">
                    @foreach (var x in ViewBag.va)
                    {
                        <tr>
                            <td>
                                @x.video_adapter_name
                            </td>
                            <td>
                                @x.video_adapter_memory_mb
                            </td>
                            <td>
                                @if (x.gpu_id != null)
                                {
                                    @x.gpu.gpu_name
                                }
                            </td>
                            <td>
                                @if (x.gpu_id != null)
                                {
                                    @x.gpu.gpu_name
                                }
                            </td>
                            <td>
                                @if (x.gpu_id != null)
                                {
                                    @x.gpu.gpu_name
                                }
                            </td>
                            <td>
                                @x.expansion_slots.expansion_slot_name
                            </td>
                            <td>
                                @x.power_supply_standards.power_supply_standard_name
                            </td>
                            <td>
                                <button name="" type="button" value=@x.video_adapter_id onclick="doajaxva(this)">Add to Cart!</button>
                            </td>
                        </tr>
                    }
                </table>
            <li>
                <a href="#tabs-nobg-7">Optical Drives</a>
                <table class="optical-drives-table">
                    @foreach (var x in ViewBag.od)
                    {
                        <tr>
                            <td>
                                @x.optical_drive_name
                            </td>
                            <td>
                                @x.buffer_kb
                            </td>
                            <td>
                                @x.bus_interfaces.bus_interface_name
                            </td>
                            <td>
                                @x.drive_bay_widths.drive_bay_width_name
                            </td>
                            <td>
                                <button name="" type="button" value=@x.optical_drive_id onclick="doajaxod(this)">Add to Cart!</button>
                            </td>
                        </tr>
                    }
                </table>
            </li>
            <li>
                <a href="#tabs-nobg-8">Power Supplies</a>
                <table class="power-supplies-table">
                    @foreach (var x in ViewBag.ps)
                    {
                        <tr>
                            <td>
                                @x.power_supply_name
                            </td>
                            <td>
                                @x.total_power_w
                            </td>
                            <td>
                                @x.energy_efficiency_percentage
                            </td>
                            <td>
                                @x.power_supply_standards.power_supply_standard_name
                            </td>
                            <td>
                                @x.motherboard_form_factors.motherboard_form_factor_name
                            </td>
                            <td>
                                <button name="" type="button" value=x.power_supply_id onclick="doajaxps(this)">Add to Cart!</button>
                            </td>
                        </tr>
                    }
                </table>
            </li>
            <li>
                <a href="#tabs-nobg-9">Computer Cases</a>
                <table class="computer-cases-table">
                    @foreach (var x in ViewBag.cc)
                    {
                        <tr>
                            <td>
                                @x.computer_case_name
                            </td>
                            <td>
                                @x.front_usb_connector_count
                            </td>
                            <td>
                                @x.depth_mm
                            </td>
                            <td>
                                @x.width_mm
                            </td>
                            <td>
                                @x.height_mm
                            </td>
                            <td>
                                @x.color
                            </td>
                            <td>
                                @x.computer_case_sizes.computer_case_size_name
                            </td>
                            <td>
                                @x.motherboard_form_factors.motherboard_form_factor_name
                            </td>
                            <td>
                                <button name="" type="button" value=@x.computer_case_id onclick="doajaxcc(this)">Add to Cart!</button>
                            </td>
                        </tr>
                    }
                </table>
            </li>
        </ul>

        <div id="tabs-nobg-1">

        </div>

        <div id="tabs-nobg-2">

        </div>

        <div id="tabs-nobg-3">

        </div>

        <div id="tabs-nobg-4">

        </div>

        <div id="tabs-nobg-5">

        </div>

        <div id="tabs-nobg-6">

        </div>

        <div id="tabs-nobg-7">

        </div>

        <div id="tabs-nobg-8">

        </div>

        <div id="tabs-nobg-9">

        </div>

    </article>
</body>
</html>
<script type="text/javascript">

    function doajaxmb(link) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Builds")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ obj: "mb", id_number: $(link).val() }),
            dataType: "json"
        });
    }

    function doajaxpr(link) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Builds")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ obj: "pr", id_number: $(link).val() }),
            dataType: "json"
        });
    }

    function doajaxme(link) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Builds")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ obj: "me", id_number: $(link).val() }),
            dataType: "json"
        });
    }

    function doajaxhd(link) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Builds")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ obj: "hd", id_number: $(link).val() }),
            dataType: "json"
        });
    }

    function doajaxsc(link) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Builds")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ obj: "sc", id_number: $(link).val() }),
            dataType: "json"
        });
    }

    function doajaxps(link) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Builds")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ obj: "ps", id_number: $(link).val() }),
            dataType: "json"
        });
    }

    function doajaxva(link) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Builds")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ obj: "va", id_number: $(link).val() }),
            dataType: "json"
        });
    }

    function doajaxod(link) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Builds")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ obj: "od", id_number: $(link).val() }),
            dataType: "json"
        });
    }

    function doajaxps(link) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Builds")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ obj: "ps", id_number: $(link).val() }),
            dataType: "json"
        });
    }

    function doajaxcc(link) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("Index", "Builds")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ obj: "cc", id_number: $(link).val() }),
            dataType: "json"
        });
    }
</script>