@using System.Collections.Generic
@{
    Layout = null;
}
<!DOCTYPE html>

<html>

<head>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/ico" href="favicon.ico">

    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
                        
            $(".button-motherboards").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videoadapters-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").show()
                $(".button-motherboards").css('background-color', 'inherit')
                $(".button-processors").css('background-color', 'white')
                $(".button-memories").css('background-color', 'white')
                $(".button-harddrives").css('background-color', 'white')
                $(".button-soundcards").css('background-color', 'white')
                $(".button-videoadapters").css('background-color', 'white')
                $(".button-opticaldrives").css('background-color', 'white')
                $(".button-powersupplies").css('background-color', 'white')
                $(".button-computercases").css('background-color', 'white')
                $(".button-motherboards").css('color', 'white')
                $(".button-processors").css('color', 'black')
                $(".button-memories").css('color', 'black')
                $(".button-harddrives").css('color', 'black')
                $(".button-soundcards").css('color', 'black')
                $(".button-videoadapters").css('color', 'black')
                $(".button-opticaldrives").css('color', 'black')
                $(".button-powersupplies").css('color', 'black')
                $(".button-computercases").css('color', 'black')
        });

            $(".button-processors").click(function () {
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videoadapters-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-processors-hidden").show()
                $(".button-motherboards").css('background-color', 'white')
                $(".button-processors").css('background-color', 'inherit')
                $(".button-memories").css('background-color', 'white')
                $(".button-harddrives").css('background-color', 'white')
                $(".button-soundcards").css('background-color', 'white')
                $(".button-videoadapters").css('background-color', 'white')
                $(".button-opticaldrives").css('background-color', 'white')
                $(".button-powersupplies").css('background-color', 'white')
                $(".button-computercases").css('background-color', 'white')
                $(".button-motherboards").css('background-color', 'white')
                $(".button-motherboards").css('color', 'black')
                $(".button-processors").css('color', 'white')
                $(".button-memories").css('color', 'black')
                $(".button-harddrives").css('color', 'black')
                $(".button-soundcards").css('color', 'black')
                $(".button-videoadapters").css('color', 'black')
                $(".button-opticaldrives").css('color', 'black')
                $(".button-powersupplies").css('color', 'black')
                $(".button-computercases").css('color', 'black')
            });

            $(".button-memories").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videoadapters-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-memories-hidden").show()
                $(".button-motherboards").css('background-color', 'white');
                $(".button-processors").css('background-color', 'white');
                $(".button-memories").css('background-color', 'inherit');
                $(".button-harddrives").css('background-color', 'white');
                $(".button-soundcards").css('background-color', 'white');
                $(".button-videoadapters").css('background-color', 'white');
                $(".button-opticaldrives").css('background-color', 'white');
                $(".button-powersupplies").css('background-color', 'white');
                $(".button-computercases").css('background-color', 'white');
                $(".button-motherboards").css('color', 'black')
                $(".button-processors").css('color', 'black')
                $(".button-memories").css('color', 'white')
                $(".button-harddrives").css('color', 'black')
                $(".button-soundcards").css('color', 'black')
                $(".button-videoadapters").css('color', 'black')
                $(".button-opticaldrives").css('color', 'black')
                $(".button-powersupplies").css('color', 'black')
                $(".button-computercases").css('color', 'black')
            });

            $(".button-harddrives").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videoadapters-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-harddrives-hidden").show()
                $(".button-motherboards").css('background-color', 'white');
                $(".button-processors").css('background-color', 'white');
                $(".button-memories").css('background-color', 'white');
                $(".button-harddrives").css('background-color', 'inherit');
                $(".button-soundcards").css('background-color', 'white');
                $(".button-videoadapters").css('background-color', 'white');
                $(".button-opticaldrives").css('background-color', 'white');
                $(".button-powersupplies").css('background-color', 'white');
                $(".button-computercases").css('background-color', 'white');
                $(".button-motherboards").css('color', 'black')
                $(".button-processors").css('color', 'black')
                $(".button-memories").css('color', 'black')
                $(".button-harddrives").css('color', 'white')
                $(".button-soundcards").css('color', 'black')
                $(".button-videoadapters").css('color', 'black')
                $(".button-opticaldrives").css('color', 'black')
                $(".button-powersupplies").css('color', 'black')
                $(".button-computercases").css('color', 'black')
            });

            $(".button-soundcards").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-videoadapters-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-soundcards-hidden").show()
                $(".button-motherboards").css('background-color', 'white');
                $(".button-processors").css('background-color', 'white');
                $(".button-memories").css('background-color', 'white');
                $(".button-harddrives").css('background-color', 'white');
                $(".button-soundcards").css('background-color', 'inherit');
                $(".button-videoadapters").css('background-color', 'white');
                $(".button-opticaldrives").css('background-color', 'white');
                $(".button-powersupplies").css('background-color', 'white');
                $(".button-computercases").css('background-color', 'white');
                $(".button-motherboards").css('color', 'black')
                $(".button-processors").css('color', 'black')
                $(".button-memories").css('color', 'black')
                $(".button-harddrives").css('color', 'black')
                $(".button-soundcards").css('color', 'white')
                $(".button-videoadapters").css('color', 'black')
                $(".button-opticaldrives").css('color', 'black')
                $(".button-powersupplies").css('color', 'black')
                $(".button-computercases").css('color', 'black')
            });

            $(".button-videoadapters").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-videoadapters-hidden").show()
                $(".button-motherboards").css('background-color', 'white');
                $(".button-processors").css('background-color', 'white');
                $(".button-memories").css('background-color', 'white');
                $(".button-harddrives").css('background-color', 'white');
                $(".button-soundcards").css('background-color', 'white');
                $(".button-videoadapters").css('background-color', 'inherit');
                $(".button-opticaldrives").css('background-color', 'white');
                $(".button-powersupplies").css('background-color', 'white');
                $(".button-computercases").css('background-color', 'white');
                $(".button-motherboards").css('color', 'black')
                $(".button-processors").css('color', 'black')
                $(".button-memories").css('color', 'black')
                $(".button-harddrives").css('color', 'black')
                $(".button-soundcards").css('color', 'black')
                $(".button-videoadapters").css('color', 'white')
                $(".button-opticaldrives").css('color', 'black')
                $(".button-powersupplies").css('color', 'black')
                $(".button-computercases").css('color', 'black')
            });

            $(".button-opticaldrives").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videoadapters-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-opticaldrives-hidden").show()
                $(".button-motherboards").css('background-color', 'white');
                $(".button-processors").css('background-color', 'white');
                $(".button-memories").css('background-color', 'white');
                $(".button-harddrives").css('background-color', 'white');
                $(".button-soundcards").css('background-color', 'white');
                $(".button-videoadapters").css('background-color', 'white');
                $(".button-opticaldrives").css('background-color', 'inherit');
                $(".button-powersupplies").css('background-color', 'white');
                $(".button-computercases").css('background-color', 'white');
                $(".button-motherboards").css('color', 'black')
                $(".button-processors").css('color', 'black')
                $(".button-memories").css('color', 'black')
                $(".button-harddrives").css('color', 'black')
                $(".button-soundcards").css('color', 'black')
                $(".button-videoadapters").css('color', 'black')
                $(".button-opticaldrives").css('color', 'white')
                $(".button-powersupplies").css('color', 'black')
                $(".button-computercases").css('color', 'black')
            });

            $(".button-powersupplies").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videoadapters-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-computercases-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-powersupplies-hidden").show()
                $(".button-motherboards").css('background-color', 'white');
                $(".button-processors").css('background-color', 'white');
                $(".button-memories").css('background-color', 'white');
                $(".button-harddrives").css('background-color', 'white');
                $(".button-soundcards").css('background-color', 'white');
                $(".button-videoadapters").css('background-color', 'white');
                $(".button-opticaldrives").css('background-color', 'white');
                $(".button-powersupplies").css('background-color', 'inherit');
                $(".button-computercases").css('background-color', 'white');
                $(".button-motherboards").css('color', 'black')
                $(".button-processors").css('color', 'black')
                $(".button-memories").css('color', 'black')
                $(".button-harddrives").css('color', 'black')
                $(".button-soundcards").css('color', 'black')
                $(".button-videoadapters").css('color', 'black')
                $(".button-opticaldrives").css('color', 'black')
                $(".button-powersupplies").css('color', 'white')
                $(".button-computercases").css('color', 'black')
            });

            $(".button-computercases").click(function () {
                $("#tr-processors-hidden").hide()
                $("#tr-memories-hidden").hide()
                $("#tr-harddrives-hidden").hide()
                $("#tr-soundcards-hidden").hide()
                $("#tr-videoadapters-hidden").hide()
                $("#tr-opticaldrives-hidden").hide()
                $("#tr-powersupplies-hidden").hide()
                $("#tr-motherboards-hidden").hide()
                $("#tr-computercases-hidden").show()
                $(".button-motherboards").css('background-color', 'white');
                $(".button-processors").css('background-color', 'white');
                $(".button-memories").css('background-color', 'white');
                $(".button-harddrives").css('background-color', 'white');
                $(".button-soundcards").css('background-color', 'white');
                $(".button-videoadapters").css('background-color', 'white');
                $(".button-opticaldrives").css('background-color', 'white');
                $(".button-powersupplies").css('background-color', 'white');
                $(".button-computercases").css('background-color', 'inherit');
                $(".button-motherboards").css('color', 'black')
                $(".button-processors").css('color', 'black')
                $(".button-memories").css('color', 'black')
                $(".button-harddrives").css('color', 'black')
                $(".button-soundcards").css('color', 'black')
                $(".button-videoadapters").css('color', 'black')
                $(".button-opticaldrives").css('color', 'black')
                $(".button-powersupplies").css('color', 'black')
                $(".button-computercases").css('color', 'white') 
            });
        });
    </script>

</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p>
                    <img class="img-3-layout" src="@Url.Content("~/Content/Images/3.png")" />
                    @Html.ActionLink("BUILD A COMPUTER", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </p>
            </div>
            <div class="navbar-collapse collapse">
                @if (Request.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        <li style="color: #fff;">@Html.ActionLink("ALL BUILDS", "Index", "AllBuilds", new { area = "" }, null)</li>
                        <li style="color: #fff;">@Html.ActionLink("YOUR SAVED BUILDS", "Index", "PreviousBuilds", new { area = "" }, null)</li>
                        <li style="color: #fff;">@Html.ActionLink("BUILD!", "Index", "Builds", new { area = "" }, null)</li>
                    </ul>
                }

                else
                {
                    <ul class="nav navbar-nav">
                        <li style="color: #fff;">@Html.ActionLink("ALL BUILDS", "Index", "AllBuilds", new { area = "" }, null)</li>
                        @*<li style="color: #fff;">@Html.ActionLink("YOUR SAVED BUILDS", "Login", "Account", new { area = "" }, null)</li>*@
                        <li style="color: #fff;">@Html.ActionLink("YOUR SAVED BUILDS", "Login", "Account", new { ReturnURL = "~/PreviousBuilds/Index" }, null)</li>
                        <li style="color: #fff;">@Html.ActionLink("BUILD!", "Index", "Builds", new { area = "" }, null)</li>
                    </ul>
                }

                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container">
        <div id="Lists">
            @{ Html.RenderPartial("Lists"); }
        </div>


        @Html.ActionLink("Save", "Save")
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Agile Aperture</p>
        </footer>
    </div>

</body>
</html>
<script type="text/javascript">

    $(".doajaxmb").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=mb&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxpr").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=pr&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxme").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=me&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxhd").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=hd&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxsc").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=sc&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxva").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=va&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxod").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=od&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxps").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=ps&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxcc").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=cc&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxmb").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=xmb&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxpr").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=xpr&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxme").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=xme&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxhd").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=xhd&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxsc").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=xsc&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });


    $(".doajaxxva").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=xva&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxod").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=xod&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxps").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=xps&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });

    $(".doajaxxcc").on("click", function () {
        var xmlhttp = new XMLHttpRequest();
        xmlhttp.open("POST", "Builds/Index?obj=xcc&id_number=" + $(this).val(), true);
        xmlhttp.send();
        location.reload();
    });
</script>