@using System.Linq
@using buildacomputer.Models
@using System.Collections.Generic

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <table class="table-bordered">
        <tr>
            <th><a href="#">Motherboard</a></th>
            <th><a href="#">Processors</a></th>
            <th><a href="#">RAM</a></th>
            <th><a href="#">Hard drives</a></th>
            <th><a href="#">Sound cards</a></th>
            <th><a href="#">Video adapters</a></th>
            <th><a href="#">Optical drives</a></th>
            <th><a href="#">Power supplies</a></th>
            <th><a href="#">Computer cases</a></th>
        </tr>
    </table>

    <p></p>
    <p></p>
    <p></p>
    <table class="table-bordered">
            @foreach (var item in ((List<motherboards>)ViewBag.mb))  @*Still only does one item, but I'm looking into why*@
            {
                <tr>
                    <td>
                        @item.motherboard_id
                    </td>
                    <td>
                        @item.motherboard_name
                    </td>
                    <td>
                        @item.processor_sockets.processor_socket_name
                    </td>
                </tr>
            }
    </table>

    @*<table class="table-bordered">
        <tr>
            <th>
                @Html.ActionLink(@Html.DisplayNameFor(model => model.motherboards.motherboard_name), "Index", "Builds")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.processors.processor_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.memories.memory_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hard_drives.hard_drive_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sound_cards.sound_card_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.video_adapters.video_adapter_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.optical_drives.optical_drive_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.power_supplies.power_supply_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.computer_cases.computer_case_name)
            </th>


        </tr>*@
        @*
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.computer_cases.color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.hard_drives.hard_drive_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.memories.memory_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.motherboards.motherboard_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.optical_drives.optical_drive_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.power_supplies.power_supply_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sound_cards.sound_card_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.video_adapters.video_adapter_name)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.buildType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.iterator)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BuildTime)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.buildID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.buildID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.buildID })
                        </td>
                    </tr>
                }

            </table>
        *@
    </body>

</html>