@model IEnumerable<buildacomputer.Models.Build>

@{
    ViewBag.Title = "Build your own computer";
}

<h2>Index</h2>

    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._____)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._____)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._____)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._____)
            </th>
            <th></th>
        </tr>

        @foreach (Object item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._______)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.________)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._____)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item._____)
                </td>
                
            </tr>
        }

    </table>