<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

@{
    ViewBag.Title = "Build your own computer";
}
<body>
    <h2>Start here</h2>


    @*THE TEXT FOR THE TABS*@
    <div id=”Tabs”>
        <ul>
            <li id=”li_tab1″ onclick=”tab(‘tab1′)”><a>Tab 1</a></li>
            <li id=”li_tab2″ onclick=”tab(‘tab2′)”><a>Tab 2</a></li>
        </ul>
        <div id=”Content_Area”>
            <div id=”tab1″>
                <p>This is the text for tab 1</p>
            </div>

            <div id=”tab2″ style=”display: none;”>
                <!– We set its display as none because we don’t want to make this
                tab visible by default. The only visible/active tab should be Tab 1 until the visitor clicks on Tab 2. –>
                <p>This is the text for tab 2.</p>
            </div>
        </div> <!– End of Content_Area Div –>
    </div> <!– End of Tabs Div –>

    @*JAVASCRIPT*@
    <script type=”text/javascript”>
        function tab(tab) {
        document.getElementById(‘tab1′).style.display = ‘none’;
        document.getElementById(‘tab2′).style.display = ‘none’;
        document.getElementById(‘li_tab1′).setAttribute(“class”, “”);
        document.getElementById(‘li_tab2′).setAttribute(“class”, “”);
        document.getElementById(tab).style.display = ‘block’;
        document.getElementById(‘li_’+tab).setAttribute(“class”, “active”);
        }
    </script>

    @*@/<p>
            @Html.ActionLink("Create New", "Create")
        </p>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.computer_cases.color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.hard_drives.hard_drive_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.memories.memory_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.motherboards.motherboard_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.optical_drives.optical_drive_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.power_supplies.power_supply_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sound_cards.sound_card_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.video_adapters.video_adapter_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.processer_id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.buildType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.iterator)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuildTime)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.computer_cases.color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.hard_drives.hard_drive_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.memories.memory_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.motherboards.motherboard_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.optical_drives.optical_drive_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.power_supplies.power_supply_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sound_cards.sound_card_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.video_adapters.video_adapter_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.processer_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.buildType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.iterator)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BuildTime)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.buildID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.buildID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.buildID })
                </td>
            </tr>
        }

        </table>*@
</body>
</html>