@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using System.Linq
@using buildacomputer.Models
@using System.Collections.Generic

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <table class="table-bordered">
        <tr>
            <th><a href="#mb">Motherboard</a></th>
            <th><a href="#pr">Processors</a></th>
            <th><a href="me">RAM</a></th>
            <th><a href="hd">Hard drives</a></th>
            <th><a href="sc">Sound cards</a></th>
            <th><a href="va">Video adapters</a></th>
            <th><a href="od">Optical drives</a></th>
            <th><a href="ps">Power supplies</a></th>
            <th><a href="cc">Computer cases</a></th>
        </tr>
    </table>

    <p></p>
    <p></p>
    <p></p>
    <table class="table-bordered">
        <tr>
            <td>
                Name
            </td>
            <td>
                Processor Socket
            </td>
            <td>
                RAM type
            </td>
            <td>
                Form Factor
            </td>
            <td>
                Integrated Gpu
            </td>
            <td>
                Power Supply Standard
            </td>
            <td>
                Lan Chip
            </td>
            <td>
                Sound Chip
            </td>
        </tr>
    </table>

    <table class="motherboards-table">
        @foreach (var x in ViewBag.mb)
        {
            <tr>
                <td>
                    @x.motherboard_name
                </td>
                <td>
                    @x.processor_sockets.processor_socket_name
                </td>
                <td>
                    @x.memory_types.memory_type_name
                </td>
                <td>
                    @x.motherboard_form_factors.motherboard_form_factor_name
                </td>
                <td>
                    @if (x.gpu_id != null)
                    {
                        @x.gpus.gpu_name
                    }
                </td>
                <td>
                    @x.power_supply_standards.power_supply_standard_name
                </td>
                <td>
                    @x.lan_chips.lan_chip_name
                </td>
                <td>
                    @x.sound_chips.sound_chip_name
                </td>
                <td>
                    <button name="" type="button" value=@x.motherboard_id id="mb" onclick='UpdateTable()'>Add to Cart!</button>
                </td>
            </tr>
        }
    </table>

    @*<table class="processors-table">

        @foreach (var x in ViewBag.pr)
        {
            <tr>
                <td>
                    @x.processor_name
                </td>
                <td>
                    @x.processor_sockets.processor_socket_name
                </td>
                <td>
                    @x.frequency_mhz
                </td>
                <td>
                    @x.processor_cores.processor_core_count
                </td>
                <td>
                    <button name="" type="button" value=@x.processor_id id="mb" onclick='UpdateTable()'>Add to Cart!</button>
                </td>
            </tr>
        }
    </table>

    <table class="memories-table">
        @foreach (var x in ViewBag.me)
        {
            <tr>
                <td>
                    @x.memory_name
                </td>
                <td>
                    @x.memory_size_mb
                </td>
                <td>
                    @x.memory_types.memory_type_name
                </td>
            </tr>
        }
    </table>

    <table class="hard-drives-table">
        @foreach (var x in ViewBag.hd)
        {
            <tr>
                <td>
                    @x.hard_drive_name
                </td>
                <td>
                    @x.buffer_kb
                </td>
                <td>
                    @x.capacity_gb
                </td>
                <td>
                    @x.bus_interfaces.bus_interface_name
                </td>
            </tr>
        }
    </table>

    <table class="sound-cards-table">
        @foreach (var x in ViewBag.sc)
        {
            <tr>
                <td>
                    @x.sound_card_name
                </td>
                <td>
                    @x.sound_chips.sound_chip_name
                </td>
                <td>
                    @x.sound_chips.sound_channel_standards.sound_channel_standard_name
                </td>
                <td>
                    @x.expansion_slots.expansion_slot_name
                </td>
            </tr>
        }
    </table>

    <table class="video-adapters-table">
        @foreach (var x in ViewBag.va)
        {
            <tr>
                <td>
                    @x.video_adapter_name
                </td>
                <td>
                    @x.video_adapter_memory_mb
                </td>
                <td>
                    @if (x.gpu_id != null)
                    {
                        @x.gpu.gpu_name
                    }
                </td>
                <td>
                    @if (x.gpu_id != null)
                    {
                        @x.gpu.gpu_name
                    }
                </td>
                <td>
                    @if (x.gpu_id != null)
                    {
                        @x.gpu.gpu_name
                    }
                </td>
                <td>
                    @x.expansion_slots.expansion_slot_name
                </td>
                <td>
                    @x.power_supply_standards.power_supply_standard_name
                </td>
            </tr>
        }
    </table>

    <table class="optical-drives-table">
        @foreach (var x in ViewBag.od)
        {
            <tr>
                <td>
                    @x.optical_drive_name
                </td>
                <td>
                    @x.buffer_kb
                </td>
                <td>
                    @x.bus_interfaces.bus_interface_name
                </td>
                <td>
                    @x.drive_bay_widths.drive_bay_width_name
                </td>
            </tr>
        }
    </table>

    <table class="power-supplies-table">
        @foreach (var x in ViewBag.ps)
        {
            <tr>
                <td>
                    @x.power_supply_name
                </td>
                <td>
                    @x.total_power_w
                </td>
                <td>
                    @x.energy_efficiency_percentage
                </td>
                <td>
                    @x.power_supply_standards.power_supply_standard_name
                </td>
                <td>
                    @x.motherboard_form_factors.motherboard_form_factor_name
                </td>
            </tr>
        }
    </table>

    <table class="computer-cases-table">
        @foreach (var x in ViewBag.cc)
        {
            <tr>
                <td>
                    @x.computer_case_name
                </td>
                <td>
                    @x.front_usb_connector_count
                </td>
                <td>
                    @x.depth_mm
                </td>
                <td>
                    @x.width_mm
                </td>
                <td>
                    @x.height_mm
                </td>
                <td>
                    @x.color
                </td>
                <td>
                    @x.computer_case_sizes.computer_case_size_name
                </td>
                <td>
                    @x.motherboard_form_factors.motherboard_form_factor_name
                </td>
            </tr>
        }
    </table>

    @*
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.computer_cases.color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hard_drives.hard_drive_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.memories.memory_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.motherboards.motherboard_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.optical_drives.optical_drive_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.power_supplies.power_supply_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.sound_cards.sound_card_name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.video_adapters.video_adapter_name)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.buildType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.iterator)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BuildTime)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.buildID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.buildID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.buildID })
                    </td>
                </tr>
            }

        </table>
    *@
</body>
</html>