@using System.Collections.Generic;

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".img-case").click(function () {
            $(".img-harddrive").animate({ left: "+=300px" });
            $(".img-memory").animate({ left: "+=300px" });
            $(".img-motherboard").animate({ left: "+=300px" });
            $(".img-optical").animate({ left: "+=300px" });
            $(".img-power").animate({ left: "+=300px" });
            $(".img-sound").animate({ left: "+=300px" });
            $(".img-video").animate({ left: "+=300px" });
            $(".img-processor").animate({ left: "+=300px" });
            $(".img-case").animate({ right: "+=200px" }, function () {
                $(".img-case").fadeOut("fast");
                $(".img-harddrive").fadeOut("fast");
                $(".img-memory").fadeOut("fast");
                $(".img-motherboard").fadeOut("fast");
                $(".img-optical").fadeOut("fast");
                $(".img-power").fadeOut("fast");
                $(".img-sound").fadeOut("fast");
                $(".img-video").fadeOut("fast");
                $(".img-processor").fadeOut("fast");
                $(".img-3").fadeIn("fast", function () {
                    $(".img-3").fadeOut("slow", function () {
                        $(".img-computer").fadeIn("fast");
                    });
                });
                
            });

        });

    });

</script>

<body>

<div class="the-images" style="text-align:left">
    <p><img class="img-case" src="@Url.Content("~/Content/Images/CaseText.png")" /></p>
    <p></p>
    <p><img class="img-harddrive" src="@Url.Content("~/Content/Images/harddrive.png")" /></p>
    <p></p>
    <img class="img-memory" src="@Url.Content("~/Content/Images/memory.png")" />
    <p></p>
    <img class="img-motherboard" src="@Url.Content("~/Content/Images/motherboard.png")" />
    <img class="img-optical" src="@Url.Content("~/Content/Images/optical.png")" />
    <img class="img-power" src="@Url.Content("~/Content/Images/power.png")" />
    <img class="img-processor" src="@Url.Content("~/Content/Images/processor.png")" />
    <img class="img-sound" src="@Url.Content("~/Content/Images/soundcard.png")" />
    <img class="img-video" src="@Url.Content("~/Content/Images/video.png")" />

    <img class="img-3" src="@Url.Content("~/Content/Images/3.png")" style="text-align: center; display: none" />
    <a href="@Url.Action("Index", "Builds")"><img class="img-computer" src="@Url.Content("~/Content/Images/computer.png")" style="text-align: center; display: none" />
</div>


    <div class="jumbotron">
        <h1></h1>
        <p class="lead"></p>
    </div>
    <div class="jumbotron">
        <h1></h1>
        <p class="lead"></p>
    </div>
    <div class="jumbotron">
        <h1></h1>
        <p class="lead"></p>
    </div>
    <div class="jumbotron">
        <h1></h1>
        <p class="lead"></p>
    </div>
</body>


@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.computer_cases.computer_case_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hard_drives.hard_drive_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.memory.memory_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motherboard.motherboard_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.optical_drives.optical_drive_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.power_supplies.power_supply_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.processor.processor_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sound_cards.sound_card_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.video_adapters.video_adapter_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buildType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iterator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.computer_cases.computer_case_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hard_drives.hard_drive_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.memory.memory_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.motherboard.motherboard_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.optical_drives.optical_drive_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.power_supplies.power_supply_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.processor.processor_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sound_cards.sound_card_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.video_adapters.video_adapter_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.buildType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iterator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuildTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.buildID }) |
            @Html.ActionLink("Details", "Details", new { id=item.buildID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.buildID })
        </td>
    </tr>
}

</table>*@
