@using System.Collections.Generic;
@using buildacomputer.Models;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        @foreach (string key in Model.Keys)
        {
            <th><a href="#">@key</a></th>
        }
        

        @*<th>
            @Html.DisplayNameFor(model => model.buildType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iterator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuildTime)
        </th>*@
        <th></th>
    </tr>

    
        
            @for (int i = 0; i < Model["Motherboard"].Count; i++)
            {
                <tr>
                <td>@Model["Motherboard"][i];</td>
                <td>@Model["Processor"][i];</td>
                <td>@Model["Memory"][i];</td>
                <td>@Model["Hard Drive"][i];</td>
                <td>@Model["Sound Card"][i];</td>
                <td>@Model["Video Adapter"][i];</td>
                <td>@Model["Optical Drive"][i];</td>
                <td>@Model["Power Supply"][i];</td>
                <td>@Model["Computer Case"][i];</td>
                    </tr>
            }
        
    

</table>
