@model IEnumerable<buildacomputer.Models.Build>

@{
    ViewBag.Title = "Your Saved Builds";
}

<h2>Your Saved Builds</h2>

<table class="table">
    <tr>
        <th>
            Build Name
        </th>
        <th>
            Motherboards
        </th>
        <th>
            Processors
        </th>
        <th>
            RAM
        </th>
        <th>
            Hard Drives
        </th>
        <th>
            Sound Cards
        </th>
        <th>
            Video Adapters
        </th>
        <th>
            Optical Drives
        </th>
        <th>
            Power Supplies
        </th>
        <th>
            Computer Cases
        </th>
        <th>
            Build Type
        </th>
        <th>
            Number of Times Built
        </th>
        <th>
            Build Date
        </th>
        <th></th>
    </tr>
    @{int i = 0;
    foreach (var item in Model)
    {
        <tr>
            <td>
                @ViewBag.name[i]
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.motherboard.motherboard_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.processor.processor_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.memory.memory_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hard_drives.hard_drive_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sound_cards.sound_card_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.video_adapters.video_adapter_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.optical_drives.optical_drive_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.power_supplies.power_supply_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.computer_cases.computer_case_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.buildType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iterator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuildTime)
            </td>
            <td></td>
        </tr>
        i++;
    }
    }
</table>
